.currentRound .userInput {
    margin-bottom: 10px;
}
.currentRound .input :global(.ant-input) {
    background-color: #101417 !important;
    color: #fff;
    text-align: center;
    border-radius: 8px;
}
.currentRound .inputContainer {
    position: relative;
    background: linear-gradient(45deg, #14181d, #1d222c);
    padding: 14px 4px 3px;
    border-radius: 12px;
}
.currentRound .inputContainer .control {
    cursor: pointer;
}
.currentRound .inputTitle {
    position: absolute;
    color: #9ca5b2;
    left: 63px;
    top: 1px;
    font-size: 9px;
}
.currentRound .input :global(.ant-input-group-addon) {
    background-color: #14181d !important;
    color: #fff;
    font-size: 10px;
    border-radius: 8px;
}
.currentRound .sliderContainer {
    padding: 2px 10px;
    background-color: #1f2432;
    border-radius: 12px;
    border: 1px solid #232832;
}
.currentRound .slider :global(.ant-slider-track) {
    background-color: #e53975 !important;
}
.currentRound .slider :global(.ant-slider-mark-text) {
    color: #fff;
    margin-top: 5px;
}
.currentRound .slider :global(.ant-slider-rail) {
    background-color: #303541
}
.currentRound button:disabled {
    background-color: #303541 !important;
    color: #9ca5b2 !important;
    border-color: #303541 !important;
}