.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
}
.content {
  width: 80%;
}

.main-border {
  border: 1px solid #2f3841;
}

.resetBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}